
h1 {
/* 	text-align: left; */
	font-size: 500%;
	background: #000;
/* 	width: inherit; */
/* 	position: relative; */
	color: #eee;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
.form-control
{
	text-align: left;
	
}
.navbar
{
	margin-top: -8px;

}
#bigrightcol
{
	height: 100vh;
	text-align: center;
}
#bigleftcol
{
	max-width: 400px;
	height: 100vh;
}
#leftcol
{
	height: 80%;
	overflow-y: auto;
}
.image
{
	background-image: url("../img/contacts.png");
	background-repeat: no-repeat;
	background-size: contain;
	/*width: 100%;*/
	/*height: auto;*/
	
}
.ContactContents
{
	display: table;
	width: 100%;
	height: 40%;
	pointer-events:none;
	margin-top: 50px;
}
.ContactContents tr td
{
	border: solid 1px black;
	text-align: left;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events:all;
}
.navbut
{
	outline: none !important;
	box-shadow: none;
}

tr:hover {
    background-color: #D2D2D2;
    cursor:pointer;
}
