
h1 {
/* 	text-align: left; */
	font-size: 500%;
	background: #000;
/* 	width: inherit; */
/* 	position: relative; */
	color: #eee;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
.form-control
{
	text-align: left;
	
}
.navbar
{
	margin-top: -8px;

}
#bigrightcol
{
	height: 100vh;
	text-align: center;
}
#bigleftcol
{
	max-width: 400px;
	height: 100vh;
}
#leftcol
{
	height: 80%;
	overflow-y: auto;
}
.image
{
	background-image: url("../img/contacts.png");
	background-repeat: no-repeat;
	background-size: contain;
	/*width: 100%;*/
	/*height: auto;*/
	
}
.nameSelector:hover
{
	background-color: #589de2;
	color: white;
}
#tableHeader
{
	height: 10%;
}
.info
{
	width: 25%;
}
.btn-back
{
	background-color: white;
}
.custom-margin
{
	height: 15%;
	max-height: 150px;
}
.ContactContents
{

	display: table;
	table-layout: fixed;
	width: 100%;
	height: 45%;
	pointer-events:none;
	/*margin-top: 100px;
*/	opacity: 0.8;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	/*visibility: hidden;*/
	opacity: 0;
	/*transform: translateZ(-10px);
	-webkit-transform: translateZ(-10px);*/
	/*transform: translateZ(-10);*/

}
.slide-out
{
	animation: slide-out 1s ease-in-out forwards;
	-webkit-animation: slide-out 1s ease-in-out forwards;

}
.slide-in
{
	animation: slide-in 1s ease-in-out forwards;
	-webkit-animation: slide-in 1s ease-in-out forwards;

}
.slide-in-back
{
	animation: slide-out 0.5s ease-in-out forwards;
	-webkit-animation: slide-out 0.5s ease-in-out forwards;
}
.ContactContents tr td
{
	/*border: solid 1px black;*/
	font-family: 'Baloo Tammudu', cursive;
	font-size: 30px;
	text-align: left;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events:all;
}
.navbut
{
	outline: none !important;
	box-shadow: none;
}

tr:hover {
    background-color: #D2D2D2;
    cursor:pointer;
}
@keyframes slide-in
{	
	0%{opacity: 0;}
	100%{transform: translateX(0%);
		/*transform: translateZ(10px);*/
		visibility: visible;
		opacity: 0.8;}
}
@-webkit-keyframes slide-in {
	0%{opacity: 0;}
    100% { -webkit-transform: translateX(0%); 
    	visibility: visible;
    	opacity: 0.8;}
}
@keyframes slide-out {
    0% { transform: translateX(0%); opacity: 0.8;}
    100% { transform: translateX(-100%); 
    		opacity: 0;
    		}
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); opacity: 0.8;}
    100% { -webkit-transform: translateX(-100%); 
    	opacity: 0;
    	}
}
